*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color:#111111;
    font-family: salsa;
    font-size: 10px;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

h1{
    font-size: 3rem;
}

Header{
    z-index: 1000;
}

Header .Header{
    z-index: 1000;
    margin: 0px;
    padding: 0px;
    background-color: rgba(1, 1, 1, 0.45);
    justify-content: space-around;
    align-items: center;
    display: flex;
    padding-bottom: 5px;
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: auto;
}

.Header .Brand{
    font-size: 3rem;
}

.Header .Brand h1{
    margin-right: 20px;
    color: transparent;
    padding: 15px 10px 15px 10px;
    border-radius: 5px 10px 5px 10px;
    background: linear-gradient(70deg, lightblue, #FF3E96, skyblue, #FF3E96);
    background-clip: text;
    display:inline-block;
}

.Header .Brand h1 span{
    color : whitesmoke
}

.Header nav ul{
    display: flex;
    padding: 0;
    color: whitesmoke;
    justify-content: space-around;
    gap: 15px;
    align-items: center;
    font-weight: bolder;
    list-style-type: none;
    padding-top: 15px;
    padding-bottom: 10px;
}

.Header nav ul a{
    color: white;
    margin-left: 10px;
    font-size: 1.5rem;
    margin-top: 10px;
    text-decoration: none;
}

.Header nav ul li a:hover{
    color:#FF3E96;
    font-size: 20px;
}

#Home {
    background-image:url(/school.jpg) ;
    z-index: 1 ;
    position: relative;
    height: 100vh;
    background-size: cover;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Home::after{
    content: '';
    z-index: -1;
    background:  rgba(1, 1, 1, 0.7);
    margin: auto;
    top: 0%;
    height: 100%;
    width: 100%;
    position: absolute;
}

#Home h1{
    color: transparent;
    font-size: 4rem;
    background:linear-gradient(70deg, lightblue, #FF3E96, skyblue, #FF3E96) ;
    background-clip: text;
}

#Home h1 span{
    color: #E6ECF0  ;
}

#Home .button .CTA{
    display: inline-block;
    border: 3px solid white;
    font-size: 2rem;
    font-weight: bold;
    color: transparent;
    padding: 5px;
    border-radius: 5px;
    margin-top: 15px;
    background: linear-gradient(80deg, lightblue, #FF3E96, skyblue, #FF3E96);
    background-clip: text;
}

#Home .button .CTA:Hover{
    color: #FF3E96;
    background: white;
    border-radius: 5px 10px 5px 10px;
    padding: 10px;
}

#Home .button .CTA:active{
    transform: scaleX(90%) scaleY(80%) scaleZ(70%);
}

#Academics{
    display: flex;
    flex-direction: column;
    color: white;
    max-width: 1500px;
    margin: 0 auto;
    z-index: 1;
    padding: 100px 0;
}

#Academics .Academic-Top{
    width: 500px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
}

#Academics .Academic-Top h1{
    color: transparent;
    font-size: 4rem;
    background:linear-gradient(70deg, lightblue, #FF3E96, skyblue, #FF3E96) ;
    background-clip: text;
    justify-content: center;
    align-items: center;
}

#Academics .Academic-Top p{
    margin-top: 5px;
    font-size: 1.7rem;
}

#Academics .Academic-Bottom{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-wrap: wrap;
}

#Academics .Academic-Item{
    flex-basis: 20%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    padding: 20px;
    border-radius: 20px 0px 20px 0px;
    background-color: #FF3E96;
    position: relative;
    z-index: 1;
    margin: 10px;
    overflow: hidden;
    opacity: 80%;
    height: 8cm;
    width: 5cm;
}

#Academics .Academic-Item:hover{
    height: 9cm;
    width: 6cm;
    opacity: 100%;
    font-size: larger;
}

#Academics .Academic-Item::after{
    content: '';
    z-index: -1;
    background:  linear-gradient(60deg, #29232c 0%, #a9014c 50%, #FF3E96 100%);
    margin: auto;
    top: 0%;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0%;
}

#Academics .Academic-Item h2{
    font-size: 2rem;
    margin-bottom: 10px;
    text-transform: uppercase;
}

#Academics .Academic-Item p{
    text-align: left;
}

#Academics .Academic-Item .icon{
    flex: 00 auto;
    height: 80px;
    width: 80px;
    margin-bottom: 10px;
}

#Glory{
    display: flex;
    flex-direction: row;
    color: white;
    width: 1200px;
    justify-content: center;
    align-items: center;
    padding: 100px 20px;
    margin: 0px auto;
    gap: 20px;
}

#Glory .Glory-left{
    height: 360px;
    width: 250px; 
}

#Glory .Glory-left .Glory-Image{
    height: 100%;
    width: 100%;
    position: relative;
}

#Glory .Glory-left .Glory-Image::after{
    content: '';
    position: absolute;
    left: -33px;
    top: 19px;
    height: 98%;
    width: 98%;
    z-index: -1;
    border: 7px solid #FF3E96;
}

#Glory .Glory-left .Glory-Image img{
    height: 360px;
    width: 250px;
    border:10px double skyblue;
}

#Glory .Glory-right{
    width: 50%;
}

#Glory .Glory-right h1{
    color: transparent;
    font-size: 4rem;
    background:linear-gradient(70deg, lightblue, #FF3E96, skyblue, #FF3E96) ;
    background-clip: text;
}

#Glory .Glory-right h2{
    color: #FF3E96;
    margin: 5px;
}

#Glory .Glory-right p{
    font-size: 1.4rem;
    margin-bottom: 5px;
}

#Glory .Glory-right .CTA{
    display: inline-block;
    border: 3px solid white;
    font-size: 2rem;
    font-weight: bold;
    color: transparent;
    padding: 5px;
    border-radius: 5px;
    margin-top: 15px;
    background: linear-gradient(80deg, lightblue, #FF3E96, skyblue, #FF3E96);
    background-clip: text;
}

#Glory .Glory-right .CTA:hover{
    color: white;
    background: #FF3E96;
    font-size: 2.1rem;
}

#Contact{
    width: 500px;
    margin: 0 auto;
    align-items: center;
}

#Contact .Contact-Top h1{
    font-size: 5rem;
    color: transparent;
    background: linear-gradient(70deg, lightblue, #FF3E96, skyblue, #FF3E96);
    background-clip: text;
    background-size: 200%;
    -webkit-background-clip: text;
    align-items: center;
    justify-content: center;
    font-weight: lighter;
}

#Contact .Contact-Bottom form{
    color: white;
    border: #FF3E96 solid 5px;
    padding: 10PX;
}

#Contact .Contact-Bottom form h2{
    font-size: 1.8rem;
}

input{
    border: #111111 solid 1px;
}

input:hover{
    border: #E6ECF0 solid 1px;
    color: white;
    background-color: #111111;
}

::placeholder:hover{
    color: antiquewhite;
}

































